{% extends 'base.html.twig' %}

{% block title %}Modifier Carte{% endblock %}

{% block body %}
    <h1>Modifier Carte</h1>

    <div class="container">
        {{ include('card/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
