{% extends 'base.html.twig' %}

{% block title %}Nouvelle carte{% endblock %}

{% block body %}
    <h1>Créer nouvelle carte</h1>

    <div class="container">
        {{ include('card/_form.html.twig') }}
    </div>
{% endblock %}
