{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('app_deck_new') }}">Créer deck</a>
    <a href="{{ path('app_card_new') }}">Créer carte</a>
    <a href="{{ path('newgame') }}">Partie</a>
{% endblock %}
