{% extends 'base.html.twig' %}

{% block title %}Modifier Deck{% endblock %}

{% block body %}
    <h1>Modifier Deck</h1>

    <div class="container">
        {{ include('deck/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
