{% extends 'base.html.twig' %}

{% block title %}Nouveau Deck{% endblock %}

{% block body %}
    <h1>Créer nouveau Deck</h1>

    <div class="container">
        {{ include('deck/_form.html.twig') }}
    </div>
{% endblock %}
